body {
  margin: 0;
  padding: 0;
  background: rgb(231, 231, 231);
}

body:before {
  content: "";

  width: 100%;
  height: 60%;
  position: absolute;
  left: 0;
  top: 0;

  z-index: -10;

  background-image: url(./img/achtergrond1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  opacity: 0.8;
}
.section {
  position: fixed;
  top: 0;
  left: 0;

  /* background-image: linear-gradient(
      rgba(226, 226, 226, 0.096),
      rgba(255, 255, 255, 0.486)
    ); */

  /* Preserve aspet ratio */
  width: 100%;
  height: 100%;
  /* background-repeat: no-repeat;
  background-size: cover; */

  /* opacity: 0.5; */
}

.logo {
  position: absolute;
  /* font-family: "Amatic SC", cursive; */
  font-family: "Heebo", sans-serif;

  font-weight: lighter;

  height: 10%;
  text-align: left;
  color: black;
  padding: 8%;
  font-size: 6vw;
  left: 23%;
  top: 10%;
  border: solid rgba(255, 255, 255, 0.76) 5px;
}

.container {
  position: flex;
  width: 110%;
  height: 60%;
  margin: 43.5% auto;
  bottom: 20%;
  left: 3%;
}

.container .box {
  position: relative;
  width: calc(27%);
  height: calc(70%);
  background: rgba(255, 255, 255, 0.432);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  /* background: rgba(0, 0, 0, 0.534); */
  float: left;
  right: 1%;
  margin: 1%;

  box-sizing: border-box;
  overflow: hidden;
  /* border-radius: 10px; */
  border: solid 2px rgba(0, 0, 0, 0.308);
  color: rgba(119, 114, 114, 0.151);
}

.container .box:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

/* Icoon style */
.container .box .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  /* background: rgb(238, 235, 231); */
  /* background-image: url(./img/BDDACB11-BD3D-4C30-B1B8-19F1C7FACD4A_1_105_c.jpeg); */

  transition: 0.5s;
  z-index: 1;
}

.container .box:hover .icon {
  top: 10%;
  left: calc(50% - 10%);
  width: 20%;
  height: 25%;
  border-radius: 50%;
}

/* .container .box .icon {
  top: 0%;
  left: calc(10% - 10%);
  width: 100%;
  height: 100%; */
/* border-radius: 50%; */

/* border: solid 1px;
  border-color: black; */
/* } */

.container .box .icon .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2vw;
  transition: 0.5s;
  color: rgba(0, 0, 0, 0.486);
}
.container .box .icon .fa {
  font-size: 4vw;
  /* color: white; */
  color: black;

  /* color: rgba(255, 255, 255, 0.664); */
}

.container .box .content {
  position: absolute;
  top: 100%;
  height: calc(100% - 100%);
  text-align: center;
  padding: 5%;
  box-sizing: border-box;
  transition: 0.5s;
  opacity: 0;
}

.container .box:hover .content {
  top: 33%;
  opacity: 1;
}

.container .box .content {
  top: 33%;
  opacity: 1;
}

.container .box .content h3 {
  margin: 2% 0 2%;
  padding: 0;
  color: rgba(0, 0, 0, 0.651);
  /* color: rgba(255, 255, 255, 0.815); */
  font-size: 2vw;
  font-family: "Heebo", sans-serif;
  /* font-family: "Montserrat", sans-serif; */
  /* font-weight: lighter; */
}

.container .box .content p {
  margin: 2%;
  padding: 0;
  /* color: white; */
  /* color: rgba(216, 216, 216, 0.699); */
  color: rgba(0, 0, 0, 0.651);
  font-family: "Heebo", sans-serif;

  font-weight: lighter;
  font-size: 1vw;
  /* font-family: "Montserrat", sans-serif; */
}

/* .footer {
  position: fixed;
  left: 0;
  bottom: -20%;
  height: 8%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.596);
  color: white;
  text-align: center;
  font-family: "Heebo", sans-serif;

  font-weight: lighter;
} */

.button {
  /* -moz-box-shadow: inset 0 50% 0% 0 #e67a73;
    -webkit-box-shadow: inset 0 50% 0 0 #e67a73;
    box-shadow: inset 0 50% 0 0 #e67a73; */
  background-color: rgba(247, 228, 201, 0.541);
  /* -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-left-radius: 0px;
    text-indent: 0; */
  /* border: 1px solid #ffffff; */
  /* display: inline-block; */
  position: absolute;
  right: 5%;
  color: rgba(0, 0, 0, 0.596);
  font-family: "Heebo", sans-serif;

  /* font-weight: lighter; */
  font-size: 1vw;

  height: 40%;
  line-height: 40%;
  width: 30%;
  text-decoration: none;
  text-align: center;
  padding-top: 3%;
  border: 1px solid rgba(0, 0, 0, 0.308);

  text-shadow: red;
}
.button:hover {
  color: rgba(0, 0, 0, 0.596);
  font-weight: bold;
}

/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  /* background-color: rgba(247, 228, 201, 0.541); */
  /* background-color: rgba(0, 0, 0, 0.253); */
  /* FIX */
  z-index: 300;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Heebo", sans-serif;
  font-weight: lighter;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgba(247, 228, 201, 0.541);
  color: white;
  float: left;
}

.container .box-slider {
  position: relative;
  width: calc(27%);
  height: calc(70%);
  background: rgba(255, 255, 255, 0.432);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  /* background: rgba(0, 0, 0, 0.534); */
  float: left;
  right: 1%;
  margin: 1%;
  box-sizing: border-box;
  overflow: hidden;
  /* border-radius: 10px; */

  border: solid 2px rgba(0, 0, 0, 0.308);
  color: rgba(119, 114, 114, 0.151);
}

.container .box-slider:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

/* Icoon style */
.container .box-slider .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  /* background-image: url(./img/BDDACB11-BD3D-4C30-B1B8-19F1C7FACD4A_1_105_c.jpeg); */

  transition: 0.5s;
  z-index: 1;
}

.container .box-slider:hover .icon {
  top: 10%;
  left: calc(50% - 10%);
  width: 20%;
  height: 25%;
  border-radius: 50%;
}

.container .box-slider .icon .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2vw;
  transition: 0.5s;
  color: rgba(0, 0, 0, 0.486);
}
.container .box-slider .icon .fa {
  font-size: 4vw;
  /* color: white; */
  color: black;

  /* color: rgba(255, 255, 255, 0.664); */
}

.container .box-slider .content {
  position: absolute;
  top: 100%;
  height: calc(100% - 100%);
  text-align: center;
  padding: 5%;
  box-sizing: border-box;
  transition: 0.5s;
  opacity: 0;
}

.container .box-slider .content {
  top: 33%;
  opacity: 1;
  left: 20%;
}

.container .box-slider .content h3 {
  margin: 0 0 5%;

  color: rgba(0, 0, 0, 0.651);
  /* color: rgba(255, 255, 255, 0.815); */
  font-size: 2vw;
  font-family: "Heebo", sans-serif;
  /* font-family: "Montserrat", sans-serif; */
  /* font-weight: lighter; */
}

.container .box-slider .content p {
  margin: 0;
  padding: 0;
  /* color: white; */
  /* color: rgba(216, 216, 216, 0.699); */
  color: rgba(0, 0, 0, 0.651);
  font-family: "Heebo", sans-serif;

  font-weight: lighter;
  /* font-family: "Montserrat", sans-serif; */
}

.container .box-slider .content .button {
  background-color: rgba(247, 228, 201, 0.774);

  position: absolute;
  right: 10%;
  color: rgba(0, 0, 0, 0.596);
  font-family: "Heebo", sans-serif;

  /* font-weight: lighter; */
  font-size: 1vw;

  height: 40%;
  line-height: 45%;
  width: 50%;
  left: 52.5%;
  top: 450%;
  text-decoration: none;
  text-align: center;
  padding-top: 4%;
  border: 1px solid rgba(0, 0, 0, 0.308);

  text-shadow: red;
}
.container .box-slider .content.button:hover {
  color: rgba(0, 0, 0, 0.596);
  font-weight: bold;
}

.carousel {
  position: absolute;
  height: 350%;
  width: 100%;
  left: 0%;
  border: solid 8px rgb(238, 235, 231);
}

@media only screen and (min-width: 768px) {
  .container {
    position: relative;
    width: 110%;
    height: 60%;
    margin: 43.5% auto;
    bottom: 20%;
    left: 3%;
  }

  .container .box {
    position: relative;
    width: calc(27%);
    height: calc(40%);
    background: rgba(255, 255, 255, 0.432);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

    float: left;
    right: 1%;
    margin: 1%;

    box-sizing: border-box;
    overflow: hidden;

    border: solid 2px rgba(0, 0, 0, 0.308);
    color: rgba(119, 114, 114, 0.151);
  }
}
