.body {
  margin: 0;
  padding: 0;
}

.header {
  position: absolute;
  /* font-family: "Amatic SC", cursive; */
  font-family: "Heebo", sans-serif;

  font-weight: lighter;
  width: 100%;

  height: 15%;
  /* text-align: left; */
}

.logo {
  position: absolute;
  text-align: left;
  color: rgba(0, 0, 0, 0.623);
  padding: 1.5%;
  font-size: 2.5vw;
  left: 2%;
}

.portret {
  position: absolute;
  width: 20%;
  height: 50%;
  /* border-radius: 50%; */
  margin-top: 10%;
  margin-left: 5%;
  border: solid;
  border-color: black;
}

.section {
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    rgba(226, 226, 226, 0.096),
    /* rgba(255, 255, 255, 0.486) */
  );

  /* Preserve aspet ratio */
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;

  /* opacity: 0.5; */
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 8%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.596);
  color: white;
  text-align: center;
  font-family: "Heebo", sans-serif;

  font-weight: lighter;
}
